@import "../../assets/styles/main.scss";

.review {
  padding: 1rem 0;

  &__stars {
    color: $color-tertiary;
  }

  &__author-name {
    color: $color-tertiary;
    margin: 0;
  }

  &__author-title {
    margin: 0;
  }

  &--inverted {
    text-align: right;
  }
}
