@import "../../assets/styles/main.scss";

.plan {
  width: 100%;
  max-width: 350px;
  margin: 1em 0;
  border: $color-secondary 5px solid;
  background-color: white;

  @media (min-width: $breakpoint-laptop) {
    margin: 1em 0.5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    width: 25%;
    max-width: 100px;
    margin: 1.5em 0 0;
  }

  &__title {
    color: $color-tertiary;
  }

  &__price {
    color: $color-primary;
    margin: 0 0 0.5em;
  }

  &__hour {
    font-family: $font-primary;
    letter-spacing: 0.25rem;
  }

  &__list {
    width: 80%;
    text-align: left;
    color: $color-secondary;
    padding-left: 1.5em;
    margin: auto;
    list-style: none;

    > li {
      line-height: 1.5em;

      &::before {
        content: "✓";
        color: $color-tertiary;
        display: inline-block;
        font-weight: 700;
        text-indent: -1.5em;
      }
    }
  }

  &__book {
    cursor: pointer;
    width: fit-content;
    color: $color-tertiary;
    margin: 1.25em auto;
    font-size: 2rem;
  }

  &--special {
    border-color: $color-tertiary;
  }

  &--deal {
    margin: 0;
    background-color: $color-tertiary;
  }
}
