@import "../../assets/styles/main.scss";

.plan {
  width: 80vw;
  max-width: 350px;
  margin: 2rem auto;
  border: $color-secondary 5px solid;
  background-color: white;

  &__icon {
    width: 25%;
    max-width: 150px;
    margin: 1.5rem 0 0;
  }

  &__title {
    color: $color-tertiary;
  }

  &__price {
    color: $color-primary;
    font-size: 2.5rem;
  }

  &__hour {
    font-family: Oswald;
    font-size: 1rem;
  }

  &__list {
    width: 75%;
    text-align: left;
    color: $color-secondary;
    font-size: 1rem;
    padding-left: 1.5rem;
    margin: auto;
    list-style: none;

    > li {
      line-height: 1.5rem;

      strong {
        color: $color-tertiary;
      }

      &::before {
        content: "✓";
        color: $color-tertiary;
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
        text-indent: -1.5rem;
      }
    }
  }

  &__book {
    color: $color-tertiary;
    margin: 2.5rem 0;
  }

  &--special {
    border-color: $color-tertiary;
  }

  &--deal {
    margin: 0;
    padding: 0.75rem 0;
    background-color: $color-tertiary;
  }
}
