@import "../../assets/styles/main";

.home {
  color: white;
  background-color: $color-primary;
  overflow: hidden;

  &__landing {
    height: 80vh;
    @include center;
    text-align: center;
    background-color: $color-primary;

    .landing__content {
      width: 82.5%;
      max-width: 500px;
    }

    .landing__socials {
      display: flex;
      justify-content: space-evenly;
      padding: 1rem 0;
    }

    .landing__icon {
      cursor: pointer;
    }

    .landing__brand {
      &-emblem {
        padding-top: 1.5rem;
      }

      &-name {
        padding: 1.5rem 0;
      }
    }

    .landing__session {
      color: $color-tertiary;
    }
  }

  &__mission {
    @include center;
    padding: 15vh 0 1.5rem;
    color: $color-primary;
    background-color: white;
    clip-path: polygon(50% 10vh, 100% 0, 100% 100%, 0 100%, 0 0);

    .mission__content {
      width: 82.5%;
    }

    .mission__headline {
      &-tag {
        color: $color-tertiary;
      }
    }

    .mission__image {
      padding: 1.5rem 0;
    }

    .mission__statement {
      line-height: 1.5rem;
    }
  }

  &__plans {
    @include center;
    padding: 1.5rem 0;

    .plans__content {
      width: 82.5%;
      text-align: center;
    }
  }

  &__reviews {
    @include center;
    padding: 1.5rem 0;
    color: $color-primary;
    background-color: white;

    .reviews__content {
      width: 82.5%;
    }

    .reviews__headline {
      &-tag {
        color: $color-tertiary;
      }
    }
  }

  &__contact {
    @include center;
    padding: 1.5rem 0;

    .contact__content {
      width: 82.5%;

      div > h5:first-of-type {
        color: $color-tertiary;
      }
    }

    .contact__headline {
      &-tag {
        color: $color-tertiary;
      }
    }

    .contact__statement {
      padding: 1rem 0;
    }

    .contact__icons {
      width: 150px;
      margin: 1.5rem 0;
      display: flex;
      justify-content: space-between;
    }

    .contact__session {
      margin: 2rem 0;
      color: $color-tertiary;
    }
  }
}
