// Modify global shared styles
// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Oswald&display=swap");

// Handle fonts and typography
* {
  font-family: $font-secondary;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  letter-spacing: 0.2rem;
}
