// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400&display=swap");

// Handle fonts and typogra
* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
