// Contains all the project variables
// Colors
$color-primary: #333333;
$color-secondary: #8a8c8d;
$color-tertiary: #fe6b0c;

// Fonts
$font-primary: "Oswald", sans-serif;
$font-secondary: "Roboto", sans-serif;
