@import "../../assets/styles/main";

.footer {
  height: 7.5vh;
  color: $color-primary;
  background-color: $color-tertiary;
  @include center;

  &__content {
    width: 82.5%;
    text-align: center;
  }
}
