@import "../../assets/styles/main";

.footer {
  height: 7.5vh;
  color: $color-primary;
  background-color: $color-tertiary;
  @include center;

  &__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  &__info {
    margin: 0;
  }
}
