@import "../../assets/styles/main.scss";

.nav {
  height: 10vh;
  @include center;
  background-color: $color-primary;

  &__content {
    width: 85%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    @include underline;
  }
}
